@mixin dark
  --hc-color: #FDFDFD
  --color: #E0E0E0
  // Background color has a little of blue tint
  --background-color: #1B1B1F

  --button-hover-color: #484854

  --hyperlink-color: #8ab4f8
  --hyperlink-visited-color: #c58af9

  --accent-color: #e82c8e
