@use "themes"

form.theme-toggle label:has(input:checked)
  display: none

@media (prefers-color-scheme: light)
  :root
    @include themes.light

  label:has(#theme-light)
    display: none

:root:has(#theme-light:checked)
  @include themes.light

@media (prefers-color-scheme: dark)
  :root
    @include themes.dark

  label:has(#theme-dark)
    display: none

:root:has(#theme-dark:checked)
  @include themes.dark
