.theme-toggle label {
    cursor: pointer;
    &>input {
        appearance: none;
    }

    /*
     * "Card" like visual
     */
    display: inline-flex;
    flex-direction: column;
    padding: 0.6em;
    font-size: 0.35em;
    align-items: center;
    border-radius: 8px;

    &:hover {
        background-color: var(--button-hover-color);
        transition: background-color 0.5s;
    }

    &>.theme-icon {
        width: 24px;
        height: 24px;

        background-color: var(--hc-color);
        mask-position: center;
        mask-repeat: no-repeat;
    }
}

#theme-os-default+.theme-icon {
    mask-image: url("./../images/theme-os-default.svg");
}
#theme-light+.theme-icon {
    mask-image: url("./../images/theme-light.svg");
}
#theme-dark+.theme-icon {
    mask-image: url("./../images/theme-dark.svg");
}
